<nav id="sidebar">
    <div class="sidebar-header">
        <button type="button" id="sidebarCollapse" class="btn btn-outline-light">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a href="#">
                <i class="fas fa-home"></i>
                Home
            </a>
        </li>
        <li class="dropright">
            <a href="#analytics-dd" class="dropdown-toggle" data-toggle="collapse" aria-haspopup="true"
                aria-expanded="false">
                <i class="fas fa-chart-line"></i>
                Analytics
            </a>
            <ul class="list-unstyled dropdown-menu collapse" id="analytics-dd">
                <li>
                    <a href="/analytics/">Overview</a>
                </li>
                <li>
                    <a href="/analytics/targets">Add Targets</a>
                </li>
                <li>
                    <a href="/analytics/collections">Collections</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/order-history">
                <i class="fas fa-book"></i>
                Order History
            </a>
        </li>
        <li class="dropright">
            <a href="#product-dd" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class='fas fa-shopping-bag'></i>
                Products
            </a>
            <ul class="list-unstyled dropdown-menu collapse" id="product-dd">
                <li>
                    <a href="/inventory/">All Products</a>
                </li>
                <li>
                    <a href="/inventory/add">Add Product</a>
                </li>
                <li>
                    <a href="#">test</a>
                </li>
            </ul>
        </li>
        <li class="dropright">
            <a href="#banner" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-images"></i>
                Banners
            </a>
            <ul class="list-unstyled dropdown-menu collapse" id="banner">
                <li>
                    <a href="/banner/">All Banners</a>
                </li>
                <li>
                    <a href="/banner/add">Add Banner</a>
                </li>
                <li>
                    <a href="/banner/test">test</a>
                </li>
            </ul>
        </li>
        <li class="dropright">
            <a href="#categories" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-list"></i>
                Categories
            </a>
            <ul class="list-unstyled dropdown-menu collapse" id="categories">
                <li>
                    <a href="/category/">All Categories</a>
                </li>
                <li>
                    <a href="/category/add">Add Category</a>
                </li>
            </ul>
        </li>
        <li class="dropright">
            <a href="#promocode" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-tags"></i>
                Codes
            </a>
            <ul class="list-unstyled dropdown-menu collapse" id="promocode">
                <li>
                    <a href="/codes/">All Codes</a>
                </li>
                <li>
                    <a href="/codes/add">Add Code</a>
                </li>
            </ul>
        </li>
        <li class="dropright">
            <a href="#support" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-comments"></i>
                Support
            </a>
            <ul class="list-unstyled dropdown-menu collapse" id="support">
                <li>
                    <a href="/chat/viewRequests">Chat requests</a>
                </li>
                <li>
                    <a href="/chat/viewLogs">Chat Logs</a>
                </li>
            </ul>
        </li>
        <!-- side menu template -->
        {{!-- 
        if you only need 1 clickable archor use this
        <li>
            <a href="#">
                <i class='fas fa-shopping-bag'></i>
                Manage Product
            </a>
        </li> 

        if you have dropdowns use this        
        <li>
            <a href="#product-dd" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class='fas fa-shopping-bag'></i>
                Manage Product
            </a>
            <ul class="list-unstyled collapse" id="product-dd">
                <li>
                    <a href="#">Something 1</a>
                </li>
                <li>
                    <a href="#">Something 2</a>
                </li>
                <li>
                    <a href="#">Something 3</a>
                </li>
            </ul>
        </li>
--}}
    </ul>
</nav>