<div class="wrapper">
    <div id="content">
        <div class="jumbotron text-center">
            <h1>Success!</h1>
            <p class="lead">Order Status has been changed successfully!</p>
            <hr>
            {{!-- <p>
                Having trouble? <a href="">Contact us</a>
            </p> --}}
            <p class="lead">
                <a class="btn btn-primary btn-sm" href="/" role="button">Back</a>
            </p>
        </div>
    </div>
</div>