<div class="wrapper">
    {{>_sidemenu}}
    <div id="content">
        <h3>Overview</h3>
        <div class="row">
            <div class="col border rounded shadow-sm m-1">
                <p class="panel-title">Profit vs Last Year</p>
                <p class="panel-current">$111m</p>
                <p class="panel-difference">(+%2.43%)</p>
            </div>
            <div class="col border rounded shadow-sm m-1">
                <p class="panel-title">Churn Rate vs Last Year</p>
                <p class="panel-current">3.21%</p>
                <p class="panel-difference">(+%0.73%)</p>
            </div>
            <div class="col border rounded shadow-sm m-1">
                <p class="panel-title">Avg number of order per customer vs Last Year</p>
                <p class="panel-current">2.47</p>
                <p class="panel-difference">(+%0.73%)</p>
            </div>
        </div>
        <div class="row">
            <div class="col border rounded shadow-sm m-1">
                <h1>element here</h1>
            </div>
            <div class="col border rounded shadow-sm m-1">
                <h1>element here</h1>
            </div>
        </div>
        <div class="row">
            <div class="col border rounded shadow-sm m-1">
                <h1>element here</h1>
            </div>
            <div class="col border rounded shadow-sm m-1">
                <h1>element here</h1>
            </div>
        </div>
    </div>
</div>