<div class="wrapper">
    {{>_sidemenu}}
    <div id="content">
        <h3 style="text-align: center;">Add Code</h3>
        <div class="card card-body" style="margin-top:50px;">
            <form action="/codes/addcodes" method="post" id="addCodes">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="">Code</label>
                            <input type="text" name="code" id="code_input" class="form-control" value="" required>
                            <input type="button" class="btn btn-primary mt-2" value="Generate" onclick="codegen()">
                        </div>
                        <div class="form-group">
                            <label for="">Discount(%)</label>
                            <input type="number" min=0 max=100 step=0.01 name="discount" id="discount"
                                class="form-control" value="" onkeyup="validation('discount')" required>
                        </div>
                        <div class="form-group">
                            <label for="">Limit</label>
                            <input type="number" min=0 step=1 name="limit" id="limit"
                                class="form-control" value="" onkeyup="" required>
                        </div>
                        <div class="form-group">
                            <label for="">Status</label>
                            <select name="status" id="status" class="form-control">
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row d-flex flex-grow-1 text-right align-items-end">
                    <div class="col">
                        <a href="/codes" class="btn btn-secondary">Back</a>
                        <input type="submit" name="submit_btn" id="submit_btn" class="btn btn-primary" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>