<div class="wrapper">
    {{>_sidemenu}}
    <div id="content">
        <h3 style="text-align: center;">Add Banner</h3>
        <div class="card card-body">
            <form action="/banner/addBanner" method="post" id="addBanner" onsubmit="return image_valid()">
                <div class="row">
                    <div class="col d-flex flex-column">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Title</label>
                                    <input type="text" name="title" id="title" class="form-control" value="" required>
                                </div>
                                <div class="form-group">
                                    <label for="">Status</label>
                                    <select class="form-control" id="status" name="status">
                                        <option>Active</option>
                                        <option>Inactive</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="file" id="bannerUpload" name="bannerUpload"
                            accept="image/png,image/jpeg,image/jpg,image/">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Preview:</p>
                        <img id="banner_img" src="/img/placeholder-banner.png" alt="" class=" poster img-thumbnail img-fluid"
                            style="width:640px;height:440px;">
                        <input id="bannerURL" type="hidden" name="bannerURL">
                        <div class="font-weight-bold text-danger small" id="prodErr" style="display:none"></div>
                        <div class="row d-flex flex-grow-1 text-right align-items-end">
                            <div class="col-md-12">
                                <a href="/banner" class="btn btn-secondary">Back</a>
                                <input type="submit" name="submit_btn" id="submit_btn" class="btn btn-primary"
                                    value="Submit">
                            </div>
                        </div>
                        <input id="datepicker" width="200" name="dateAdded" type="hidden" readonly />
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script>
    $('#datepicker').datepicker({
        format: 'dd/mm/yyyy',
        value: new Date().toLocaleDateString('en-SG'),
        uiLibrary: 'bootstrap4',
    });
</script>